.main{padding: 20px;margin: auto;font-family: 'Segoe UI', sans-serif;}
.resize-image { width: 300px;height:auto;margin: 10px;border: 2px solid #ccc}
footer{background-color:lightseagreen;color:  blue;width:100%;height:auto;;bottom:0;border: 2px;solid #ffff;position:fixed} 