.challenge-1 {
    display: flex;
    /* write code here */
}

.challenge-2 {
    flex-direction: row;
    justify-content:flex-end;
    display: flex;

    .green {
        background-color: rgb(107, 107, 214);
    }
    .blue {
        background-color: green;
    }
    /* write code here */
}

.challenge-3 {
    display: flex;
    justify-content: flex-end;
    /* write code here */
}

.challenge-4 {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    /* write code here */
}

.challenge-5 {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* write code here */
}

/* 
Tip: This is called the "child selector". 
It selects all .bubble elements that are direct
children of .challenge-6 elements. 
*/
.challenge-6 .bubble {
align-items: center;
text-align: center;
justify-content: center;

    /* write code here */
}

.challenge-7 {
    display: flex;

}

.challenge-7 .red {
    align-items: stretch;
    justify-content: stretch;
    flex-grow: 5;
    /* write code here */
}

.challenge-8 {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;

    

    /* write code here */
}

.challenge-8 .red {
    align-items: end;
    align-self: flex-end;


    /* write code here */
}

/* DO NOT CHANGE ANYTHING BELOW HERE */

.bubble {
    height: 5em;
    width: 5em;
    color: white;
    border-radius: 50%;
    border: 0.1em solid black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}