#wrapper {
    font-size: 2em;
    gap: 1rem;
    /* Add new properties here */
    display: grid;
    grid-template-columns: 10rem 1fr 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "sidebar-left main sidebar-right"
    "footer footer footer";  
}


/* Add new selectors and new CSS here */

#header{
    grid-area: header;
}

#left{
    grid-area: sidebar-left;
}

#main{
    grid-area: main;
}

#right{
    grid-area: sidebar-right;
  
}

#footer{
    grid-area: footer;
}




/* DO NOT CHANGE ANYTHING BELOW THIS LINE  */
#wrapper > * {
    background-color: #ddd;
    min-height: 15vh;
    padding: 0.5em;
}

article {
    height: 85vh;
}