body {
    background-color: #3E2A35;
    /* #230c33 */
}

.sub-header {
    padding-left: 20px;
    font-family: 'Rampart One';
    color: #E26D5A;
    border: 1px;
    margin-top: 30px;

}

/* .sub-head1 {
    font-family: 'Copperplate';
    color: #E26D5A;
    padding-left: 30px;
    font-size: 20px;
    margin: 5px;
    /*#EFA8B8; */

/* .sub-head2 {
    padding-left: 25px;
    margin: 10px;
    font-family: 'Copperplate';
    color: #E26D5A;
    /*#EFA8B8; */

#para {
    color: #EFA8B8;
    font-family: 'Copperplate';
    font-size: 18px;
    padding-left: 22px;
    margin: 10px;
    border: 5px;
    max-width: 800px;
}
.p::first-letter {
    text-align: center;
    font-size: 40px;
}
.div {
    list-style-position: inside;
    font-family: 'Copperplate';
    color: #EFA8B8;
    font-size: 18px;
    padding: 15px 20px 20px 30px;
    margin: 5px 10px 10px 30px;
    border: 3px chocolate solid;
    border-radius: 10px; ;
    max-width: 750px;
}
/* .span1 {
    font-family: 'Copperplate';
    color: #EFA8B8;
    display: inline-block;
    float: left;
    width: 250px;
    content: ; */

.head3 {
    text-align: center;
    margin-bottom: 0px;
    border-bottom: 0px;
}

.div2 {
    display: flex;
    border: 3px solid chocolate; /* Add a border to the parent div */
    border-radius: 10px; /* Optional: Add some border radius */
    padding: 20px; /* Optional: Add some padding for better appearance */
    gap: 10px; /* Optional: Add some space between the two child divs */
    color: #EFA8B8;
    margin: 30px;
    max-width: 800px;
}

.span1 {
    flex: 1; /* This will make the divs take equal space */
}

.span-left, .span-right {
    padding: 10px; /* Optional: Add padding inside the child divs */
}
#vertical-line{
    width: 2px;
    background: chocolate;
}
#anchor {
    font-size: 15px;
    text-decoration: none;
    color: gold;

}
#anchor:hover {
    color: blue;
}

mark {
    background-color: brown;
    color: rgba(237, 215, 45, 0.664);
    font-size: 25px;
}

.div3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: #EFA8B8;
    background-color: saddlebrown;
    max-width: 1000px;
}
.div3 img {
    width: 100%;
}
.div3 figcaption {
    color: white;
}
.div4 {
    margin: 10px 10px 10px 10px;
    border: 10px 10px 10px 10px;
}
.div5 {
    margin: 10px 10px 10px 10px;
    border: 0px 0px 0px 0px;
}