body {
  background-color: aliceblue;
  color: black;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}
h1 {
  color: brown;
  font-size: 60px;
}
h3 {
  color: navy;
  font-family: "Courier New", Courier, monospace;
}
div {
  margin-left: 20px;
}
#introduction {
  /* background-color: brown; */
  /* padding: 20px; */
  width: 60%;
}
#introduction h3 {
  color: cornflowerblue;
}
#introduction p {
  background-color: cornflowerblue;
}
img {
  border: 5px solid brown;
  width: 400px;
}
p {
  background-color: cornsilk;
  padding: 20px;
  text-align: justify;
  text-justify: inter-word;
  width: 50%;
}
#link-NTL {
  color: palevioletred;
  text-decoration: none;
}
#link-NTL:hover {
  color: brown;
}
