* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 600px;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 2rem;
  color: rgb(244, 70, 7);
}

.row {
  margin: 4rem auto;
  text-align: center;
  font-size: 1.3rem;
}

input {
  outline: none;
  padding: 2px;
  background-color: aliceblue;
  border: none;
  font-size: 1.3rem;
  color: rgb(244, 70, 7);
}

button {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(165, 195, 222);
  cursor: pointer;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
    transform 200ms ease-in-out; */
}

button:hover {
  background-color: rgb(61, 62, 62);
  color: #fff;
}

.alert {
  color: rgb(247, 7, 7);
}

.hide {
  display: none;
}

.result {
  border: 8px inset rgb(244, 70, 7);
  padding: 1.5rem;
}

.result-html {
  margin-bottom: 1rem;
}
