body {
    margin: 0;
    font-size: 1.125rem;
    color: #707070;
    background-color: pink;
}

/* typograpghy */
h1 {
    font-size: 3rem;
    color: #212614;
    text-align: center;
}

h1 > span{
    color: #b7832f;
}

p {
    margin-top: 0;
}

/* layout */
img {
    max-width: 100%;
}


.container {
    max-width: 980px;
    width: 95%;
    margin: 0 auto;
}

.columns {
    display: flex;
    margin: 1em 0;
    /* gap: 1rem;  had to take 5% each out of all col width to make room for space between to work out*/
    justify-content: space-between;
    align-items:flex-start;
}

.col-1 {
    width: 20%;
}
.col-2 {
    width: 45%;
}
.col-3 {
    width: 70%;
}


.col-bg {
    background-color: #212614;
    padding: 1em;
    color: #fff;
}

@media (min-width: 400px) {
    body {
        background-color: purple;
    }
}