* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

/* Color palette */

:root {
  --primary-color: #606c38;
  --secondary-color: #283618;
  --bg-color: #fefae0;
  --vibrant-color: #dda15e;
  --contrast-color: #bc6c25;
}

html {
  margin: 0 auto;
  height: 100vh;
}

body {
  background-color: var(--bg-color);
  font-size: 1rem;
}

main,
footer {
  padding: 0.3rem;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  list-style-type: none;
  padding: 1rem 0;
  font-size: 0.8rem;
  color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--bg-color);
}

/* home page */

.hero {
  padding: 1rem;
  margin-top: 1.2rem;
  color: #000;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.hero h1,
h2 {
  font-family: "Chivo Mono", monospace;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  color: var(--secondary-color);
}

.posts {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  margin: 1rem 0.3rem;
}

img {
  border-radius: 0.5rem;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
}

.thumb-nail {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transform: translateY(-50%);
  margin-left: 1rem;
  border: 2px solid var(--bg-color);
}

.hero p:first-of-type {
  margin-top: 1.2rem;
}

.card {
  background-color: var(--bg-color);
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.content {
  padding: 0.8rem 0 0.8rem 0;
}

.follow-button-container {
  text-align: center;
}

.follow-button {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.follow-button:hover {
  background-color: var(--contrast-color);
}

.author {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 700;
  margin-top: 0.5rem;
  color: var(--secondary-color);
}

/* Footer */

footer li:first-of-type {
  padding-top: 1rem;
}

footer li {
  padding: 0.3rem 1rem 0.3rem 1rem;
  list-style-type: none;
}

footer p {
  margin-top: 1rem;
  padding: 1.2rem;
  text-align: center;
  background-color: var(--primary-color);
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
  font-style: italic;
  cursor: pointer;
}

footer a:hover {
  color: var(--vibrant-color);
}

/* Profile page css */

.profile h1 {
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.profile-posts-container h2 {
  font-size: 1.5rem;
}

.user-details {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

.user-details p {
  color: rgb(108, 106, 106);
}

.profile-buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.profile button {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.profile button:hover {
  background-color: var(--contrast-color);
}

.user-details {
  margin-bottom: 0.5rem;
}

.icons {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.icon {
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.5);
}

/* Media queries */

@media screen and (min-width: 768px) {
  nav ul {
    font-size: 1rem;
  }

  .thumb-nail {
    width: 7rem;
    height: 7rem;
    margin-left: 2rem;
  }

  .profile p {
    max-width: 80%;
  }

  .profile button {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .profile-posts-container {
    display: grid;
    grid-template-columns: 20% 70%;
    gap: 2rem;
    justify-content: center;
    align-items: start;
    margin-top: 2rem;
  }

  .profile-column {
    grid-column: 1 / 2;
  }

  .profile {
    border-right: 1px solid #747272;
    border-radius: 0;
    padding-right: 20px;
  }

  .profile-buttons {
    flex-direction: column;
    gap: 0.3rem;
    justify-content: start;
  }

  .posts {
    grid-column: 3 / 4;
    grid-row: 1;
    padding: 0rem;
    display: flex;
    flex-direction: column;
  }

  .desktop-card {
    display: flex;
  }

  footer ul {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    padding: 1.5rem;
  }

  footer a {
    color: var(--bg-color);
  }

  footer p {
    margin-top: 0;
  }

  /* Home page */

  .container {
    padding: 1.5rem;
  }

  h2 {
    margin-bottom: 2rem;
  }

  h3 {
    text-align: center;
    color: var(--secondary-color);
  }

  .content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
    font-size: large;
  }

  .desktop-card {
    display: flex;
    gap: 3rem;
  }

  .desktop-img {
    max-width: 50%;
  }

  .post-img {
    width: 100%;
    object-fit: cover;
  }

  .content-container {
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 3rem;
  }

  .posts {
    padding: 1rem;
  }
}
