.challenge-1 {
    /* write code here */
}

.challenge-2 {
    /* write code here */
}

.challenge-3 {
    /* write code here */
}

.challenge-4 {
    /* write code here */
}

.challenge-5 {
    /* write code here */
}

/* 
Tip: This is called the "child selector". 
It selects all .bubble elements that are direct
children of .challenge-6 elements. 
*/
.challenge-6 .bubble {
    /* write code here */
}

.challenge-7 {
    display: flex;
}

.challenge-7 .red {
    /* write code here */
}

.challenge-8 {
    /* write code here */
}

.challenge-8 .red {
    /* write code here */
}

/* DO NOT CHANGE ANYTHING BELOW HERE */

.bubble {
    height: 5em;
    width: 5em;
    color: white;
    border-radius: 50%;
    border: 0.1em solid black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}
