.title{
    width: 200px; 
    height: 37px; 
    background: #8353E2FF;
    border-radius: 10px;
    text-align: center;
}

h2{
    color: white;
}

button{
    color: white;
    background-color: #8353E2FF;
}

.choose-user{
    font-size: 20px;
    padding-top:10px;
}

select{
    font-size: 16px;
}
.complete{
   text-decoration: line-through;
    color: #8353E2FF;
}

.uncomplete{
    text-decoration: none;
    color: black;
}
