.box-class {
  border: 3px solid black;
  height: 5rem;
  width: 5rem;
  margin-bottom: 3px;
}
button {
  margin-bottom: 15px;
}
.red-box {
  background-color: red;
}
.purple-box {
  background-color: blueviolet;
}
.box-circle {
  border-radius: 50%;
}
