.header {
  display: flex;
  text-align: center;
  justify-content: center;
  /* width: 100%; */
  font-size: 2rem;
  padding-left: 200%;
}



body.loan-types-body {
  position: relative;
  background-color: rgb(244, 241, 241);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  width: fit-content;
  font-family:Georgia, 'Times New Roman', Times, serif;
  

}

/* Add this */
body.loan-types-body::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  opacity: 0.1; 
  pointer-events: none; 
}
.loan-type-list{
  padding: 1px;
}
    
.loan-types{
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: auto; 
  padding: 0 50px;
}

/* render page sideways */
/* .loan-types-page{
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 150px; 
  padding: 20px;
} */

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3%;
    box-sizing: border-box;
    border-width: auto;
    padding: 40px 25px 50px;
    background-color: #f4f1f1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1%;
    max-width: 25%;
    min-width: 10%;
    max-height: fit-content;
} 

.calculator-info{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20%;
  /* padding-top: 0; */
}

.display {
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    text-align: right;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.number-buttons {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    margin-bottom:0;
}

.loan-type > h2{
  /* font-family:Georgia, 'Times New Roman', Times, serif; */
  font-weight: 600;
}

.title{
  font-weight: 600;
  font-size: 2.5rem;
}
.title-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 40%;
  /* font-family:Georgia, 'Times New Roman', Times, serif; */

}

.sub-title{
  margin-top: 0;
  
}