#wrapper {
    font-size: 2em;
    gap: 1rem;
    /* Add new properties here */
    display: grid;
    grid-template-columns: 150px 1fr auto;
    grid-template-rows: 20vh 1fr 20vh;
    grid-template-areas:
                "header header header"
                "left main right"
               "footer footer footer";
    background-color: skyblue;
}

/* Add new selectors and new CSS here */
#header {
    grid-area: header;
}

#left {
    grid-area: left;
}

#right {
    grid-area: right;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}
/* DO NOT CHANGE ANYTHING BELOW THIS LINE  */
#wrapper > * {
    background-color: #ddd;
    min-height: 15vh;
    padding: 0.5em;
}

article {
    height: 85vh;
}