body {
    margin: 0;  
}

#profile {
    background-color: #f9b8b6;
    padding: 1em;
    margin: 1em;
}

#profile > img {
    outline: 0.3rem solid #fff;
    margin: 0.5em 0;
}

#profile > span {
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 1em;
}

.card {
    border: 3px solid #006d9e;
    margin: 0.2rem;
}

img {
    width: 100%;
}
header {
    background-color: #a7cddf;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 500px) {
    header{
        display: none;
    }
  .right {
    display: flex;
    height: 35vh;
    border: 3px solid #006d9e;
    margin: 5px;

}
   .card > img {
    width: 50%;
  }
  .card > span {
    padding: 10px;
  }
  .card {
    display: flex;
    height: 25vh;
    border: 3px solid #006d9e;
    margin: 5px;
    gap: 1rem;
}
  .card:nth-child(odd) {
        flex-direction: row-reverse;
    }
      .card:nth-child(even) {
        flex-direction: row;
    }
}

  @media  screen and (min-width: 750px) {
    #gallery {
     display: flex;
     justify-content:space-between;
     flex-wrap: wrap;
     margin: 10px;

}
   .card-right {
    flex-direction: column;
    flex-grow: 1;
    width: 250px;
    height: auto;
    margin: 3px;
}
   .card {
    flex-direction: column;
    flex-grow: 1;
    width: 220px;
    height: auto;
    margin: 3px;
}
   .card-right > img {
     width: 100%;
}
   .card > img {
     width: 100%;
}
}   

@media screen and (min-width: 1000px) {
    #gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr,1fr;
        gap: 0.5rem;
    
    }
    .right > img {
     width: 100%;
}
    .right{
    display: flex;
    border: 3px solid #006d9e;
    }
    .card > img {
     width: 100%;
     flex-grow: 1;
}
   .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    height: 100%;
    margin: 1px;
}


}