body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #440;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #efe;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

li.completed {
    text-decoration: line-through;
    color: rgb(114, 52, 52);
    background-color: #f0d8d8;
}

button.toggle-complete {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

button.toggle-complete:hover {
    background-color: #0056b3;
}