.hidden {
    display: none;
}

.light-btn {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 2px;
    background-color: #f0f0f0;
    color: #0a0a0a;
}

.dark-btn {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 2px;
    background-color: #f0f0f0;
    color: #0a0a0a;
}   

.container {
    top: 50%;
    left: 50%;
    font-family: 'Courier New', Courier, monospace;
}

.switch-btn {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.dark-mode {
    background: #f0f0f0;
    color: black;
}

